/* ************ Sidebar Start *********** */

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-xl text-theme-sm transition-all duration-200 ease-out;
}
@utility menu-item-text {
  @apply capitalize;
}

@utility menu-item-active {
  @apply bg-brand-500/10! text-brand-700! dark:bg-brand-500/15! dark:text-brand-400!;
}

@utility menu-item-inactive {
  @apply text-gray-500! hover:bg-brand-500/10! hover:text-brand-700! group-hover:text-brand-700! dark:text-gray-400! dark:hover:bg-brand-500/15! dark:hover:text-brand-400!;
}

@utility menu-item-icon {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
}

@utility menu-item-icon-active {
  @apply text-brand-600! dark:text-brand-400!;
}

@utility menu-item-icon-size {
  & svg {
    @apply !size-5;
  }
}

@utility menu-item-icon-inactive {
  @apply text-gray-500! group-hover:text-brand-600! dark:text-gray-400! dark:group-hover:text-brand-400!;
}

@utility menu-item-arrow {
  @apply relative;
}

@utility menu-item-arrow-active {
  @apply rotate-180 text-brand-600! dark:text-brand-400!;
}

@utility menu-item-arrow-inactive {
  @apply text-gray-400 group-hover:text-brand-600! dark:text-gray-500 dark:group-hover:text-brand-400!;
}

@utility menu-dropdown-item {
  @apply relative flex items-center gap-2 rounded-lg px-3 py-1.5 text-theme-sm font-medium capitalize transition-all duration-150 ease-out;
}

@utility menu-dropdown-item-active {
  @apply bg-brand-500/10! text-brand-700! dark:bg-brand-500/15! dark:text-brand-400!;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-500! hover:bg-brand-500/10! hover:text-brand-700! dark:text-gray-400! dark:hover:bg-brand-500/15! dark:hover:text-brand-400!;
}

@utility menu-dropdown-badge {
  @apply block rounded-full px-2 py-0.5 text-[10px] font-semibold uppercase tracking-wider;
}

@utility menu-dropdown-badge-active {
  @apply bg-brand-100 text-brand-700 dark:bg-brand-500/20 dark:text-brand-400;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-gray-100 text-gray-500 group-hover:bg-gray-200 dark:bg-gray-500/15 dark:text-gray-400 dark:group-hover:bg-gray-500/20;
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

.MuiPaper-root.MuiPaper-elevation .MuiBox-root {
  @apply custom-scrollbar;
}
.dark .MuiDataGrid-scrollbar::-webkit-scrollbar-thumb,
.dark .MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.MuiDataGrid-virtualScroller .MuiDataGrid-filler,
.MuiDataGrid-scrollbar,
.MuiDataGrid-scrollbar::-webkit-scrollbar,
.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar {
  @apply size-1.5 !hidden !h-0;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-track,
.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper {
  max-height: calc(100% - 600px);
}

@utility head-icon {
  @apply flex items-center justify-center h-11 w-11 max-xsm:h-9 max-xsm:w-9 text-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-full hover:bg-gray-100 hover:text-gray-700 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white;
}

/* ************ Sidebar End *********** */
