@import "./variables.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-normal font-outfit z-1 bg-gray-50;
  }
}

@import "./layout.css";

.custom-input {
  @apply m-0;
}

/* 🔹 Common Input Style */
.custom-input .ant-input-outlined,
.custom-input .ant-input-password {
  @apply bg-gray-50 py-2 px-3 focus:outline-none focus:ring-1 focus:ring-gray-500/20 transition-all font-medium text-gray-900;
}
.custom-input .ant-input-outlined input,
.custom-input .ant-input-password input {
  @apply bg-transparent;
}

/* 🔹 Focus */
.custom-input .ant-input-outlined:focus,
.custom-input .ant-input-password:focus,
.custom-input .ant-input-affix-wrapper-focused {
  @apply border-1 border-gray-500;
}

/* 🔹 Remove default border */
.custom-input .ant-input-affix-wrapper {
  @apply shadow-none rounded-lg hover:border-1 hover:border-gray-500;
}

/* 🔹 TextArea */
.custom-input .ant-input {
  @apply resize-none;
}

/* 🔹 Label style */
.custom-input .ant-form-item-label > label {
  @apply font-medium text-slate-700 dark:text-slate-300 ml-1;
}

/* 
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #808080;

  --body-bg: #2a3650;
  --body-font-color: #2f2f3b;

  --primary-color: #7a70ba;
  --secondary-color: #48a3d7;
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-body-bg: var(--body-bg);
  --color-body-font-color: var(--body-font-color);
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans, "Inter", system-ui, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
