/* ========================== INPUT ========================== */

.custom-input {
  @apply m-0;
}

.custom-input .ant-input-outlined,
.custom-input .ant-input-password {
  @apply bg-gray-50 py-2 px-3 focus:outline-none focus:ring-1 focus:ring-gray-500/20 transition-all font-medium text-gray-900;
}
.custom-input .ant-input-outlined input,
.custom-input .ant-input-password input {
  @apply bg-transparent;
}

.custom-input .ant-input-outlined:focus,
.custom-input .ant-input-password:focus,
.custom-input .ant-input-affix-wrapper-focused {
  @apply border border-gray-500;
}

.custom-input .ant-input-affix-wrapper {
  @apply shadow-none rounded-lg hover:border hover:border-gray-500;
}

.custom-input .ant-input {
  @apply resize-none;
}

.custom-input .ant-form-item-label > label {
  @apply font-medium text-slate-700 dark:text-slate-300 ml-1;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f9fafb inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* ========================== BUTTON ========================== */

.custom-btn {
  @apply w-full py-2 bg-gray-500 text-white text-base font-semibold rounded-2xl shadow-lg! transition-all duration-200;
}

/* Hover */
.custom-btn:hover {
  @apply bg-gray-100! shadow-xl!;
}

/* Active click */
.custom-btn:active {
  @apply scale-[0.98];
}

/* Disabled */
.custom-btn:disabled,
.custom-btn.ant-btn-loading {
  @apply opacity-50 cursor-not-allowed;
}

/* Remove default AntD shadow */
.custom-btn.ant-btn-default {
  @apply shadow-none;
}

.custom-btn.ant-btn-default:disabled {
  @apply bg-gray-200! text-black!;
}

/* ========================== NOTIFICATION ========================== */

.ant-notification-notice-title {
  @apply mb-0!;
}

/* ========================== CARD ========================== */

.custom-card .ant-card-extra {
  @apply flex gap-2;
}
.custom-card .ant-card-head-title {
  @apply capitalize;
}
